/* setting base style for whole page */
* {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

header {
    flex-direction: column;
    justify-content: center;
}

#startButton {
    padding: 4px 8px;
    margin-bottom: 15px;
    font-size: larger;
}

#questionBlock {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    padding-left: 5%;
    padding-right: 5%;
}

#questionText {
    font-weight: bold;
    font-size: larger;
    padding-top: 3%;
}

ul {
    list-style:lower-alpha;
    width: 100%;
    padding-left: 0%;
}

.options {
    background-color: rgb(37, 37, 37);
    color: white;
    margin: 3%;
    font-size: large;
    width: auto;
}

#timer {
    border: 4px solid black;
    text-align: center;
}

#results {
    align-items: center;
    text-align: center;
}